{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h2 class="text-center">Регистрация</h2>
<form method="post" action="/register">
    <div class="mb-3">
        <label for="fullName" class="form-label">Полное имя</label>
        <input type="text" class="form-control" id="fullName" name="full_name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="isFarmer" name="is_farmer" value="True">
        <label class="form-check-label" for="isFarmer">Я фермер</label>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock %}